@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

  header {
      display: inline;
  }

.newHeader {
    overflow: hidden;
    background-color: #f1f3f8;
    position: sticky;
    top: 0;
}

.newHeader a {
    float: left;
    color: #393b44;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .newHeader a:hover{
    background-color: #d6e0f0;
      font-weight: bold;
  }

.logoImage{
max-width: 75px;
margin: 7px;
object-fit: cover;
object-position: center;
}

.newHeader a.logoFont {
    border-bottom-width: 4px;
   border-color: black;
   width: 125px;
   height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 17px;
  }

  .header-right {
    float: right;
  }

  .newHeader li{
    display: inline;
    list-style-type: none;      
  }

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
    background-color: #d6e0f0;
}

.image{
    height: 25px;
    width: 25px;
}

 .contact header {
    text-align: center;
 }

 .featured-image {
     width: 100%;
     max-height: 300px;
     object-fit: cover;
     object-position: center;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f1f3f8;
 }

 .newCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f1f3f8;
 }

 .newCard1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    background-color: #f1f3f8;
 }
 
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 #content {
    float: none;
 }

.left-content {
    text-align: center;
    width: 30%;
    height: 100%;
    float: left;
    background-color: #f1f3f8;
}

.center-content {
    text-align: center;
    width: 30%;
    height: 100%;
    float: left;
    background-color: #f1f3f8;
}

.right-content {
    text-align: center;
    width: 30%;
    height: 100%;
    float: left;
    background-color: #f1f3f8;
}

 * {
     box-sizing: border-box;
 }

h2 {
    text-align: center;
    color: #393b44;
 }
  
 h3 {
    text-align: center;
    color: #393b44;
 }

 .contact img {
     width: 100px;
 }

 footer {
    padding: 20px;
    color:#f1f3f8;
    background-color:#393b44;
    text-align: center;
 }
 
.flip-card {
    color: #393b44;
    background-color: none;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent;
    color: #393b44;
  }
  
  .flip-card-back {
    background-color: #d6e0f0;
    color: none;
    transform: rotateY(180deg);
  } 

  @media screen and (max-width: 1000px) {
    .newHeader,
    .logoImage,
    .card,
    .newCard,
    .newCard1,
    .left-content,
    .center-content,
    .right-content,
    .flip-card,
    .flip-card:hover,
    .flip-card-back,
    .flip-card-front,
    .flip-card-inner {
        width: 100%;
        padding: 0;
    }
 }